html{
    background-image: url(../img/a+.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    
    font-family: cursive;
    
    font-size: 25px;
    text-align: center;
    color: #3b0710;

    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: rgb(250, 247, 219);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(188, 247, 242)5, 255);
    justify-content: center;
       
  }
  
  .flex-container > div {
    background: linear-gradient(90deg, rgb(205, 242, 248) 0%, rgba(216, 247, 228, 0.544) 35%, rgb(204, 218, 250) 100%);
    
    width: 100px;
    margin: 10px;
    box-shadow: 0px 10px 20px #322d337a;
    
    border-radius: 10px;
    text-align: center;
    line-height: 75px;
    
    font-size: 30px;
    padding: 25px;

    align-items: center;
    align-content: center;
    flex-grow: 2;
  }