h1 {
    color:#0000ff;
    Border: 5px solid #0000ff;
}

.paragrafo {
    font-size: 100px;
    border: 500px solid #000f;
    border-radius: 80%;
}

.jessy  {
    width: 100px;
    border-radius: 8px ;
}